<a href="https://colab.research.google.com/github/man0ZZZ/Python_errands/blob/practice/BDS_May27%2630.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA FRAME

creating data frame with a list that contains multiple dictionary

In [4]:
import pandas as pd
data=[
    {'a':5,'b':10}, #whenever there is no value it is assumed NaN value by default
    {'a':5,'b':10,'c':15},
    {'a':5,'b':10,'c':15,'d':20},
    {'a':5,'b':10,'c':15,'d':20,'e':25}
]
df1=pd.DataFrame(data)
print(df1)

   a   b     c     d     e
0  5  10   NaN   NaN   NaN
1  5  10  15.0   NaN   NaN
2  5  10  15.0  20.0   NaN
3  5  10  15.0  20.0  25.0

creating data frame with dictionary which is created using pd.Series functionVIMP::::whenever the data frame identifies the NaN value, the whole column will be identified as float values.

In [5]:
dict1={
    'a':pd.Series([1,2,3], index=['a','b','c']),
    'b':pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
}
df2=pd.DataFrame(dict1)
df2

     a  b
a  1.0  1
b  2.0  2
c  3.0  3
d  NaN  4
e  NaN  5

In [31]:
dict2={
    'A':pd.Series(['a','b','c'], index=['a','b','c']),
    'B':pd.Series([1,2,3,4,5], index=['b','d','f','g','e']),
    'C':pd.Series((1,2,3,4,5,True), index=['a','b','c','d','e','f']),
    'D':pd.Series([1.1,2.2,3.3,4.4,5.5,6.6,False], index=['a','b','c','d','e','f','g']),
    'E':pd.Series([])
}
df3=pd.DataFrame(dict2)
df3

<ipython-input-31-d5ff036ec5cd>:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  'E':pd.Series([])

     A    B     C      D   E
a    a  NaN     1    1.1 NaN
b    b  1.0     2    2.2 NaN
c    c  NaN     3    3.3 NaN
d  NaN  2.0     4    4.4 NaN
e  NaN  5.0     5    5.5 NaN
f  NaN  3.0  True    6.6 NaN
g  NaN  4.0   NaN  False NaN

## pd.date_range function

In [12]:
dates= pd.date_range(start='30 May 2023', end='5 June 2023')
dates

DatetimeIndex(['2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02',
               '2023-06-03', '2023-06-04', '2023-06-05'],
              dtype='datetime64[ns]', freq='D')

In [5]:
dates=pd.date_range('today', periods=7)
dates

DatetimeIndex(['2023-05-30 19:46:27.174327', '2023-05-31 19:46:27.174327',
               '2023-06-01 19:46:27.174327', '2023-06-02 19:46:27.174327',
               '2023-06-03 19:46:27.174327', '2023-06-04 19:46:27.174327',
               '2023-06-05 19:46:27.174327'],
              dtype='datetime64[ns]', freq='D')

In [6]:
dates=pd.date_range(start='30 May 2023', periods=7)
dates

DatetimeIndex(['2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02',
               '2023-06-03', '2023-06-04', '2023-06-05'],
              dtype='datetime64[ns]', freq='D')

In [3]:
import numpy as np
value=np.random.random((7,7))## 2 brackets to make it a matrix == gives a 7by7 matrix of random numbers
value

array([[0.34268762, 0.37675706, 0.73998935, 0.17565494, 0.04851878,
        0.35628999, 0.92917912],
       [0.52598525, 0.20096258, 0.05612615, 0.97075741, 0.53628367,
        0.68314938, 0.3407549 ],
       [0.80368219, 0.71360349, 0.03547929, 0.784601  , 0.43308962,
        0.01824528, 0.8418891 ],
       [0.85098085, 0.92190832, 0.73711186, 0.51584349, 0.28985213,
        0.35725066, 0.94137119],
       [0.15759502, 0.16905607, 0.91094072, 0.98676949, 0.26647624,
        0.90477012, 0.51858907],
       [0.86283359, 0.43113594, 0.54013723, 0.66058542, 0.50970355,
        0.03987544, 0.38221021],
       [0.80490162, 0.93479249, 0.52956807, 0.97572023, 0.90695842,
        0.12531443, 0.16122551]])

In [26]:
import pandas as pd
df4=pd.DataFrame(value, index=dates)
df4

,0,1,2,3,4,5,6
2023-05-30,0.342688,0.376757,0.739989,0.175655,0.048519,0.356290,0.929179
2023-05-31,0.525985,0.200963,0.056126,0.970757,0.536284,0.683149,0.340755
2023-06-01,0.803682,0.713603,0.035479,0.784601,0.433090,0.018245,0.841889
2023-06-02,0.850981,0.921908,0.737112,0.515843,0.289852,0.357251,0.941371
2023-06-03,0.157595,0.169056,0.910941,0.986769,0.266476,0.904770,0.518589
2023-06-04,0.862834,0.431136,0.540137,0.660585,0.509704,0.039875,0.382210
2023-06-05,0.804902,0.934792,0.529568,0.975720,0.906958,0.125314,0.161226

In [28]:
df4.columns=['col1','col2','col3','col4','col5','col6','col7']

# details of data frame

In [8]:
df4.index # display index(row names)

DatetimeIndex(['2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02',
               '2023-06-03', '2023-06-04', '2023-06-05'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df4.columns #display column names

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7'], dtype='object')

In [12]:
df4.head(2)## display top 2 rows

,col1,col2,col3,col4,col5,col6,col7
2023-05-30,0.342688,0.376757,0.739989,0.175655,0.048519,0.356290,0.929179
2023-05-31,0.525985,0.200963,0.056126,0.970757,0.536284,0.683149,0.340755

In [17]:
df4.tail(3)##displays bottom three rows

,col1,col2,col3,col4,col5,col6,col7
2023-06-03,0.157595,0.169056,0.910941,0.986769,0.266476,0.904770,0.518589
2023-06-04,0.862834,0.431136,0.540137,0.660585,0.509704,0.039875,0.382210
2023-06-05,0.804902,0.934792,0.529568,0.975720,0.906958,0.125314,0.161226

In [13]:
df4.dtypes ##display data types

col1    float64
col2    float64
col3    float64
col4    float64
col5    float64
col6    float64
col7    float64
dtype: object

In [18]:
df4.info

<bound method DataFrame.info of                 col1      col2      col3      col4      col5      col6  \
2023-05-30  0.342688  0.376757  0.739989  0.175655  0.048519  0.356290
2023-05-31  0.525985  0.200963  0.056126  0.970757  0.536284  0.683149
2023-06-01  0.803682  0.713603  0.035479  0.784601  0.433090  0.018245
2023-06-02  0.850981  0.921908  0.737112  0.515843  0.289852  0.357251
2023-06-03  0.157595  0.169056  0.910941  0.986769  0.266476  0.904770
2023-06-04  0.862834  0.431136  0.540137  0.660585  0.509704  0.039875
2023-06-05  0.804902  0.934792  0.529568  0.975720  0.906958  0.125314

                col7
2023-05-30  0.929179
2023-05-31  0.340755
2023-06-01  0.841889
2023-06-02  0.941371
2023-06-03  0.518589
2023-06-04  0.382210
2023-06-05  0.161226  >

In [14]:
df4.describe() ## display descriptive statistics of the data

           col1      col2      col3      col4      col5      col6      col7
count  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000  7.000000
mean   0.621238  0.535459  0.507050  0.724276  0.427269  0.354985  0.587888
std    0.282783  0.322168  0.340986  0.301387  0.269878  0.335509  0.315216
min    0.157595  0.169056  0.035479  0.175655  0.048519  0.018245  0.161226
25%    0.434336  0.288860  0.292847  0.588214  0.278164  0.082595  0.361483
50%    0.803682  0.431136  0.540137  0.784601  0.433090  0.356290  0.518589
75%    0.827941  0.817756  0.738551  0.973239  0.522994  0.520200  0.885534
max    0.862834  0.934792  0.910941  0.986769  0.906958  0.904770  0.941371

In [15]:
df4.sort_values(by='col2') #sort data by values in a column,,,,default is it is ordered in ascending values

,col1,col2,col3,col4,col5,col6,col7
2023-06-03,0.157595,0.169056,0.910941,0.986769,0.266476,0.904770,0.518589
2023-05-31,0.525985,0.200963,0.056126,0.970757,0.536284,0.683149,0.340755
2023-05-30,0.342688,0.376757,0.739989,0.175655,0.048519,0.356290,0.929179
2023-06-04,0.862834,0.431136,0.540137,0.660585,0.509704,0.039875,0.382210
2023-06-01,0.803682,0.713603,0.035479,0.784601,0.433090,0.018245,0.841889
2023-06-02,0.850981,0.921908,0.737112,0.515843,0.289852,0.357251,0.941371
2023-06-05,0.804902,0.934792,0.529568,0.975720,0.906958,0.125314,0.161226

In [29]:
df4.sort_values(by='col2', ascending=False) #sort data by values in a column in descending order

,col1,col2,col3,col4,col5,col6,col7
2023-06-05,0.804902,0.934792,0.529568,0.975720,0.906958,0.125314,0.161226
2023-06-02,0.850981,0.921908,0.737112,0.515843,0.289852,0.357251,0.941371
2023-06-01,0.803682,0.713603,0.035479,0.784601,0.433090,0.018245,0.841889
2023-06-04,0.862834,0.431136,0.540137,0.660585,0.509704,0.039875,0.382210
2023-05-30,0.342688,0.376757,0.739989,0.175655,0.048519,0.356290,0.929179
2023-05-31,0.525985,0.200963,0.056126,0.970757,0.536284,0.683149,0.340755
2023-06-03,0.157595,0.169056,0.910941,0.986769,0.266476,0.904770,0.518589

## deleting rows and columns from data frame

In [32]:
df3

     A    B     C      D   E
a    a  NaN     1    1.1 NaN
b    b  1.0     2    2.2 NaN
c    c  NaN     3    3.3 NaN
d  NaN  2.0     4    4.4 NaN
e  NaN  5.0     5    5.5 NaN
f  NaN  3.0  True    6.6 NaN
g  NaN  4.0   NaN  False NaN

In [33]:
#deleting a column
del df3['E'] #deletes entire column E
df3

     A    B     C      D
a    a  NaN     1    1.1
b    b  1.0     2    2.2
c    c  NaN     3    3.3
d  NaN  2.0     4    4.4
e  NaN  5.0     5    5.5
f  NaN  3.0  True    6.6
g  NaN  4.0   NaN  False

### deleting rows and columns using AXIS attripute in df.drop() function

In [34]:
#another way to delete column (column 'D')
df3_del1=df3.drop(['D'], axis=1) ## axi==1 for column axis==0 for rows
df3_del1

     A    B     C
a    a  NaN     1
b    b  1.0     2
c    c  NaN     3
d  NaN  2.0     4
e  NaN  5.0     5
f  NaN  3.0  True
g  NaN  4.0   NaN

In [35]:
# delete rows (delete row name 'd' )
df3_del2=df3.drop(['d'], axis=0) ## axi==1 for column axis==0 for rows
df3_del2

     A    B     C      D
a    a  NaN     1    1.1
b    b  1.0     2    2.2
c    c  NaN     3    3.3
e  NaN  5.0     5    5.5
f  NaN  3.0  True    6.6
g  NaN  4.0   NaN  False

inplace parameter works exactly like the commit function in database.
INPLACE parameter makes the change permanent

In [36]:
## INPLACE parameter
df3_del3=df3.drop(['e'], axis=0, inplace=False) #inplace if true makes the change permanent
df3_del3

     A    B     C      D
a    a  NaN     1    1.1
b    b  1.0     2    2.2
c    c  NaN     3    3.3
d  NaN  2.0     4    4.4
f  NaN  3.0  True    6.6
g  NaN  4.0   NaN  False

## Slicing the data frame with df.loc()

In [37]:
df4.loc[:,:]## first colon for rows and the second colon for the columns
##displays all rows and all columns

,col1,col2,col3,col4,col5,col6,col7
2023-05-30,0.342688,0.376757,0.739989,0.175655,0.048519,0.356290,0.929179
2023-05-31,0.525985,0.200963,0.056126,0.970757,0.536284,0.683149,0.340755
2023-06-01,0.803682,0.713603,0.035479,0.784601,0.433090,0.018245,0.841889
2023-06-02,0.850981,0.921908,0.737112,0.515843,0.289852,0.357251,0.941371
2023-06-03,0.157595,0.169056,0.910941,0.986769,0.266476,0.904770,0.518589
2023-06-04,0.862834,0.431136,0.540137,0.660585,0.509704,0.039875,0.382210
2023-06-05,0.804902,0.934792,0.529568,0.975720,0.906958,0.125314,0.161226

In [39]:
df4.loc['2023-06-02':'2023-06-04','col4':'col7']

                col4      col5      col6      col7
2023-06-02  0.515843  0.289852  0.357251  0.941371
2023-06-03  0.986769  0.266476  0.904770  0.518589
2023-06-04  0.660585  0.509704  0.039875  0.382210

In [42]:
df4.loc[1:4,3:5] ##normal indexing will not work as the indexes are already renamed
## ILOC function will take column index number and row index number

TypeError: ignored

In [43]:
df4.iloc[1:4,3:5]

                col4      col5
2023-05-31  0.970757  0.536284
2023-06-01  0.784601  0.433090
2023-06-02  0.515843  0.289852

In [18]:
import pandas as pd
url1='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' ## this is tab separated data

In [19]:
df_chipot =pd.read_csv(url1, sep='\t') ## \t indicates TAB
df_chipot

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

## Changing datatype of specific column

In [20]:
## Changing order_id to float type
df_chipot.order_id=df_chipot.order_id.astype(float)
df_chipot.order_id.dtypes

dtype('float64')

## Filtering and Sorting of data frame

In [7]:
df_chipot.item_price.dtypes

dtype('O')

remove the $ sign from the item_price in last column

In [8]:
df_chipot1=df_chipot.iloc[:,4:]
df_chipot1

     item_price
0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
...         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75

[4622 rows x 1 columns]

In [9]:
df_chipot1.dtypes

item_price    object
dtype: object

In [59]:
str1='$11.8'
lst=[]
for i in str1:
  if i=='$':
    continue
  else:
    lst.append(i)
''.join(lst)

'11.8'

In [10]:
for i in df_chipot1['item_price']:
  lst=[]
  for j in i:
    if j=='$':
      continue
    else:
      lst.append(j)
  df_chipot1.item_price=float(''.join(lst))

In [11]:
df_chipot1

      item_price
0           8.75
1           8.75
2           8.75
3           8.75
4           8.75
...          ...
4617        8.75
4618        8.75
4619        8.75
4620        8.75
4621        8.75

[4622 rows x 1 columns]

Filter

In [12]:
df_chipot[(df_chipot.item_name=='Steak Burrito') & (df_chipot.item_price)>11]

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [14]:
df_chipot[(df_chipot.item_name.str.contains('Rice',na=False))]

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [13]:
df_chipot[(df_chipot.choice_description.str.contains('Rice',na=False))]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
...,...,...,...,...,...
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75

In [21]:
import pandas as pd
euro=pd.read_excel('/content/Euro2012TeamXLSX.xlsx')
df_euro=pd.DataFrame(euro)

In [22]:
df_euro.head(6)

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,2,Denmark,4,10,10,50.0%,20.0%,27,1,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,3,England,5,11,18,50.0%,17.2%,40,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,4,France,3,22,24,37.9%,6.5%,65,1,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,5,Germany,10,32,32,47.8%,15.6%,80,2,1,...,10,62.6%,63,49,12,4,0,15,15,17

In [23]:
df_euro.dtypes

Unnamed: 0                      int64
Team                           object
Goals                           int64
Shots on target                 int64
Shots off target                int64
Shooting Accuracy              object
% Goals-to-shots               object
Total shots (inc. Blocked)      int64
Hit Woodwork                    int64
Penalty goals                   int64
Penalties not scored            int64
Headed goals                    int64
Passes                          int64
Passes completed                int64
Passing Accuracy               object
Touches                         int64
Crosses                         int64
Dribbles                        int64
Corners Taken                   int64
Tackles                         int64
Clearances                      int64
Interceptions                   int64
Clearances off line           float64
Clean Sheets                    int64
Blocks                          int64
Goals conceded                  int64
Saves made                      int64
Saves-to-shots ratio           object
Fouls Won                       int64
Fouls Conceded                  int64
Offsides                        int64
Yellow Cards                    int64
Red Cards                       int64
Subs on                         int64
Subs off                        int64
Players Used                    int64
dtype: object

In [26]:
# 1. select only the GOal column
goal=df_euro.loc[:,'Goals':'Goals']
goal

    Goals
0       4
1       4
2       4
3       5
4       3
5      10
6       5
7       6
8       2
9       2
10      6
11      1
12      5
13     12
14      5
15      2

2. How many team participated in the Euro2012?

In [27]:
total_team=0
for i in df_euro.Team:
  total_team=total_team+1
print(total_team, 'teams participated in the Euro2012')

16 teams participated in the Euro2012

In [36]:
df_euro.Team.count()

16

3. What is the number of columns in the dataset?

In [35]:
df_euro.columns

Index(['Unnamed: 0', 'Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

4. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [37]:
team=df_euro.loc[:,'Team':'Team']
yellow=df_euro.loc[:,'Yellow Cards':'Yellow Cards']
red=df_euro.loc[:,'Red Cards':'Red Cards']
disciplin=pd.[[team,yellow,red]]
disciplin

TypeError: ignored

In [39]:
## two dimensional data so use double big bracket
discipline=df_euro[['Team','Yellow Cards','Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [40]:
discipline.sort_values(['Red Cards','Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [42]:
round(discipline['Yellow Cards'].mean())

7

8

In [44]:
for i in discipline.Team:
  if 'G' in i:
    print(i)

Germany
Greece

In [45]:
discipline[discipline.Team.str.contains('G', na=False)]

      Team  Yellow Cards  Red Cards
5  Germany             4          0
6   Greece             9          1

9. select the first 7 columns

In [46]:
df_euro.iloc[:,:7]

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots
0,0,Croatia,4,13,12,51.9%,16.0%
1,1,Czech Republic,4,13,18,41.9%,12.9%
2,2,Denmark,4,10,10,50.0%,20.0%
3,3,England,5,11,18,50.0%,17.2%
4,4,France,3,22,24,37.9%,6.5%
5,5,Germany,10,32,32,47.8%,15.6%
6,6,Greece,5,8,18,30.7%,19.2%
7,7,Italy,6,34,45,43.0%,7.5%
8,8,Netherlands,2,12,36,25.0%,4.1%
9,9,Poland,2,15,23,39.4%,5.2%
10,10,Portugal,6,22,42,34.3%,9.3%
11,11,Republic of Ireland,1,7,12,36.8%,5.2%
12,12,Russia,5,9,31,22.5%,12.5%
13,13,Spain,12,42,33,55.9%,16.0%
14,14,Sweden,5,17,19,47.2%,13.8%
15,15,Ukraine,2,7,26,21.2%,6.0%

10. Select all columns except the last 3

In [47]:
df_euro.iloc[:,:-3]

,Unnamed: 0,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,0,Croatia,4,13,12,51.9%,16.0%,32,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,2,Denmark,4,10,10,50.0%,20.0%,27,1,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,3,England,5,11,18,50.0%,17.2%,40,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,4,France,3,22,24,37.9%,6.5%,65,1,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,5,Germany,10,32,32,47.8%,15.6%,80,2,1,...,1,11,6,10,62.6%,63,49,12,4,0
6,6,Greece,5,8,18,30.7%,19.2%,32,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,7,Italy,6,34,45,43.0%,7.5%,110,2,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,9,Poland,2,15,23,39.4%,5.2%,48,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,10,Portugal,6,22,42,34.3%,9.3%,82,6,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,12,Russia,5,9,31,22.5%,12.5%,59,2,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,13,Spain,12,42,33,55.9%,16.0%,100,0,1,...,5,8,1,15,93.8%,102,83,19,11,0
14,14,Sweden,5,17,19,47.2%,13.8%,39,3,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

  11. Present only the Shooting Accuracy from England, Italy and Russia

In [50]:
## we are not using range here for loc function. So, we are directly picking the name of row and column directly
## since we are not 
df_euro.loc[df_euro.Team.isin(['England','Italy','Russia']),['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

## WAP in which if file does not exists you will create a csv file with 1 column and add 1 row wih value 1

### and if file exists read the column add 1 to the last value of the column and add the new value to csv and save

### import os

### if os.path.exists("abcd.csv")